#footer-right {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0); /* semi-transparent black */
  color: white;
  font-size: 12px; /* Adjust this value to your liking */
}

#footer-left {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0); /* semi-transparent black */
  color: white;
  font-size: 12px; /* Adjust this value to your liking */
}

/*#confirmationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}*/

#confirmationPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  z-index: 10000;
}

.confirmation-content {
  text-align: center;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-error {
  color: #a94444;
  background-color: #f2dede;
  border-color: #ebccd1;
}