<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body class="bg-gray-800">
        <nav class="bg-blue-500 p-2 mb-4">
            <div class="container mx-auto flex justify-between items-center">
                <div>
                    <a href="/" class="text-white text-lg font-bold">ASMARA Home</a>
                </div>
                <div>
                    <a href="/" class="text-white text-lg font-bold">Encode</a>
                </div>
                <div>
                    <a href="/" class="text-white text-lg font-bold">Settings</a>
                </div>
                <div>
                    <a href="/logout" class="text-white text-lg font-bold">Logout</a>
                </div>
            </div>
        </nav>

        <div class="content-center">
            <p class="text-white">STATISTICS GO HERE! NEED SOCKET OR SOMETHING</p>
        </div>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="footer">Webserver Made with ♡ by Reggie Torres and Anastasia Mayer</div>
        <div id="footer2">Copyright © 2024 MissingTextures Software</div>
        
    </body>
</html>