<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login | ASMARA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


    </head>
    <body>
        <script>
            function hashPassword(password) {
                var encoder = new TextEncoder();
                var data = encoder.encode(password);
                return crypto.subtle.digest('SHA-256', data).then(function(hash) {
                    return Array.from(new Uint8Array(hash)).map(b => b.toString(16).padStart(2, '0')).join('');
                });
            }
        
            function submitForm() {
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;
                hashPassword(password).then(function(hashedPassword) {
                    document.getElementById('password').value = hashedPassword;
                    document.getElementById('loginForm').submit();
                });
            }
        </script>

        <div class="min-h-screen flex items-center justify-center bg-gray-800 py-12 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">
                <div class="flex justify-center">
                    <img src="{{ url_for('static', filename='../assets/asmara-white-text.png') }}" alt="ASMARA Logo" style="max-width: 100%; height: auto;">
                </div>
                <div>
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
                        Sign in.
                    </h2>
                </div>
                <form class="mt-8 space-y-6" action="/login" id="loginForm" method="post" onsubmit="event.preventDefault(); submitForm();">
                    <input type="hidden" name="remember" value="true">
                    <div class="rounded-md shadow-sm -space-y-px">
                        <div>
                            <label for="username" class="sr-only">Username</label>
                            <input id="username" name="username" type="text" autocomplete="username" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
                        </div>
                        <div>
                            <label for="password" class="sr-only">Password</label>
                            <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Sign in
                        </button>
                    </div>
                </form>
                <!-- Add this section right under the sign in button -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="bg-white text-red-500 p-4 rounded shadow mt-4 font-bold">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="footer-right">Webserver Made with ♡ by Reggie Torres and Anastasia Mayer</div>
        <div id="footer-left">Copyright © 2024 MissingTextures Software</div>
    </body>
</html>