<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Code</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script>
        // Redirect to the login page after 30 seconds
        setTimeout(function() {
            window.location.href = '/login';
        }, 30000); // 30000 milliseconds = 30 seconds
    </script>
</head>
<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-800 py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/verify_code" method="post">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="code">
                        Verification Code
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="code" type="text" pattern="\d{6}" inputmode="numeric" placeholder="Enter Code" name="code" required>
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Verify
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="footer-right">Webserver Made with ♡ by Reggie Torres and Anastasia Mayer</div>
    <div id="footer-left">Copyright © 2024 MissingTextures Software</div>
</body>
</html>